# /etc/ntp.conf, configuration for ntpd; see ntp.conf(5) for help

driftfile {{ ntp_config_driftfile }}

{% if ntp_config_statsdir %}
# Enable this if you want statistics to be logged.
statsdir {{ ntp_config_statsdir }}
{% endif %}

{% if ntp_config_statistics %}
statistics {{ ntp_config_statistics }}
{% endif %}

{% for filegen in ntp_config_filegen %}
filegen {{ filegen }}
{% endfor %}

# You do need to talk to an NTP server or two (or three).
#server ntp.your-provider.example

# pool.ntp.org maps to about 1000 low-stratum NTP servers.  Your server will
# pick a different set every time it starts up.  Please consider joining the
# pool: <http://www.pool.ntp.org/join.html>
{% for server in ntp_config_server %}
server {{ server }}
{% endfor %}

# Access control configuration; see /usr/share/doc/ntp-doc/html/accopt.html for
# details.  The web page <http://support.ntp.org/bin/view/Support/AccessRestrictions>
# might also be helpful.
#
# Note that "restrict" applies to both servers and clients, so a configuration
# that might be intended to block requests from certain clients could also end
# up blocking replies from your own upstream servers.
# By default, exchange time with everybody, but don't allow configuration.
# Local users may interrogate the ntp server more closely.
{% for restrict in ntp_config_restrict %}
restrict {{ restrict }}
{% endfor %}

# If you want to provide time to your local subnet, change the next line.
# (Again, the address is an example only.)
{% if ntp_config_broadcast %}
broadcast {{ ntp_config_broadcast }}
{% endif %}

# If you want to listen to time broadcasts on your local subnet, de-comment the
# next lines.  Please do this only if you trust everybody on the network!
{% if ntp_config_disable_auth %}
disable auth
{% endif %}

{% if ntp_config_broadcastclient %}
broadcastclient
{% endif %}